<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Manejo de Activos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assetManagement.styles.css" asp-append-version="true" />

    <style>
        /* Estilo para el navbar */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 100;
            padding-top: 3.5rem; /* Altura del navbar */
            width: 250px; /* Ancho del navbar */
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); /* Sombra */
            background-color: #f8f9fa; /* Color de fondo */
        }

            .sidebar a.nav-link {
                color: black; /* Color del texto en el navbar */
            }

        .main-content {
            margin-left: 250px; /* Espacio para el navbar */
            padding: 20px;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3">

                            <h6>Sistema de Manejo de Activos</h6>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../Admin/Users">
                                Administración de Usuarios

                            </a>
                        </li>

                        <!-- Agrega aquí más elementos de menú según tus necesidades -->
                    </ul>
                    <hr />
                    <div class="text-center">
                        <p>Logueado como: Administrador</p>
                        <form asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm">
                            <button class="btn btn-outline-secondary" type="submit">Cerrar sesión</button>
                        </form>
                    </div>
                </div>
            </nav>
            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4 main-content">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
