@model UsuariosEnt
@using assetManagementClassLibrary.Models

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Usuario</h2>

<form asp-controller="Admin" asp-action="EditUser" method="post">
    <input type="hidden" asp-for="ID_USUARIO" />
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" asp-for="NOMBRE" required>
    </div>
    <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" class="form-control" asp-for="CORREO" required>
    </div>
    <div class="form-group">
        <label for="password">Nueva Contrasena:</label>
        <input type="password" class="form-control" asp-for="CONTRASENNA" required>
    </div>
    <div class="form-group">
        <label for="rol">ID Rol:</label>
        <input type="text" class="form-control" asp-for="ID_ROLE" required>
    </div>
    <div class="form-group">
        <label for="estado">ROL:</label>
        <input type="text" class="form-control" asp-for="role" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
