@model UsuariosEnt
@using assetManagementClassLibrary

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Usuario</h2>

<form asp-controller="Admin" asp-action="EditUser" method="post">
    <input type="hidden" asp-for="idUsuario" />
    <div class="form-group">
        <label asp-for="nombre"></label>
        <input asp-for="nombre" class="form-control" placeholder="Ingrese el nombre del Usuario" required />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="correo"></label>
        <input asp-for="correo" class="form-control" placeholder="Ingrese el correo electrónico del Usuario" required />
        <span asp-validation-for="correo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="contraseña"></label>
        <input asp-for="contraseña" class="form-control" placeholder="Ingrese la nueva contraseña del Usuario" type="password" required />
        <span asp-validation-for="contraseña" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="idRole">ID Role:</label>
        <select asp-for="idRole" class="form-control" id="idRole">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <span asp-validation-for="idRole" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="role">Seleccionar Rol:</label>
        <select asp-for="role" class="form-control">
            <option value="1">Admin</option>
            <option value="2">Contador</option>
            <option value="3">Tagger</option>
        </select>
        <span asp-validation-for="role" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Guardar Cambios</button>
</form>
